body {
background: linear-gradient(90deg, rgb(10, 65, 90) 0%, rgba(101,9,121,0.9587185215883228) 25%, rgb(241, 79, 130) 100%);
}

.itemList {
  padding: 10px;
}
.botMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid gray;
    width: 75%;
    margin: 15px 0 15px 22%;
}

.message {
  display: flex;
    flex-direction: column;
    align-content: flex-start;
    border: 1px solid gray;
    width: 75%;
    margin: 15px 22% 15px 5;
}


.list {
border-bottom: 0px solid black;
border-radius: 5px;
margin: 10px 20%;
background-color: rgb(241, 175, 186);
}

textarea {
   width: 440px;
   height: 142px;
   margin: 20px auto;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

form {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}